:root {
    --primary-font: 'Roboto', sans-serif;
    --primary-color: #030303;
    --secondary-color: #606060;
    --background-color: #fdfbfb;
    --hover-color: #f2eeee;
}

body {
    margin: 0;
    padding: 80px 24px 0 96px;
    font-family: var(--primary-font);
    background-color: var(--background-color);
}

a {
    text-decoration: none;
    color: var(--primary-color);
}
