p{
    font-family: roboto;
    margin-top: 0;
    margin-bottom: 0;
}

body {
    margin: 0;
    padding-right: 24px;
    padding-top: 80px;
    padding-left: 96px;
    background-color: rgb(253, 251, 251);
}


a {
    text-decoration: none;
    color: black; 

}